@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body{
    background-color: beige;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Poppins', 'Dancing Script', 'Playwrite GB S';

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: azure;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 57px;
    padding: auto;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: azure;
    font-family: 'Poppins', 'Dancing Script', 'Playwrite GB S';
    display: flex;
    width: 60%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons{
    margin: 14px;
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 74px;
}
.songItem{
    height: 60px;
    display: flex;
    background-color: white;
    color: black;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 50px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    display: flex;
    margin-top: 45px;
    left: 10vw;
    font-family: 'Dancing Script';
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

